{% extends 'base.html.twig'  %}
{% form_theme formApplication 'bootstrap_4_layout.html.twig' %} 

{% block body %}

    <h1> Poster une candidature </h1>
    


    {{ form(formApplication) }} 

    

    
    {% endblock %}